ipykernel
langgraph
langgraph-checkpoint-postgres
psycopg[binary,pool]
langchain
langchain-core
langchain-groq
langchain-cerebras
langchain-openai
langchain-aws
langchain-huggingface
langchain-pinecone
langchain-community
langchain-text-splitters
groq
pinecone-client
pinecone-text
sentence-transformers
fastapi
uvicorn[standard]
streamlit
requests
python-dotenv
pydantic-settings
ragas
datasets
mlflow
pytest
pypdf